<!DOCTYPE html>
<html>
<head>
  <title>Update Campus</title>
</head>
<body>
  <form action="/update/campus" method="POST">
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="campus" placeholder="New Campus">
    <button type="submit">Save</button>
  </form>
</body>
</html>
