<!DOCTYPE html>
<html>
<head>
  <title>Students</title>
</head>
<body>
  <h1>Viewing all students from <%= @campus %></h1>
  <p>Click <a href="../campus/update">here</a> to change a students location.</p>
  <ul>
    <% @students.each do |student| %>
      <li><%= student['name'] %></li>
    <% end %>
  </ul>
</body>
</html>