#contact-info{
  font-size:.8em;
}
#contact-info:hover{
  font-weight:bold;
}
.job{
  background-color:#e9e5dc;
  border-radius:15px;
  padding:10px;
  margin-top:10px;
  margin-bottom:10px;
}
.small-text{
  font-size:.8em;
}
.job h3{
  font-weight:bold;
  font-style:italic;
}
